<p>
<a href="/">Back to Gem Index</a>
</p>

<ul class="gemlist">
  <% @gem.by_name do |name, versions| %>
    <li class="gem-version">
      <h2>
        <%= name %> (<%= versions.count == 1 ? versions.first.number : "#{versions.oldest.number} - #{versions.newest.number}" %>)
        <a href="<%= url("/gems/#{name}") %>"><img src="<%= url("/gems/#{name}.svg") %>" alt="Gem Version" height="18"></a>
      </h2>
      <% versions.each.reverse_each do |version| %>
        <p>
        <code>gem install <%= version.name %> <%= "--prerelease" if version.number.to_s.match(/[a-z]/i) %> -v "<%= version.number %>"</code>
        <% unless version.platform =~ /^ruby/i %>
          <small class="platform"><%= version.platform %></small>
        <% end %>
        </p>
        <form class="delete-form" method="post" action="<%= url("/gems/#{version.gemfile_name}.gem") %>">
          <a class="download" href="<%= url("/gems/#{version.gemfile_name}.gem") %>">download</a>
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit">delete</button>
        </form>
      <% end %>

      <div class="details">
        <p>
        <% newest_gem = versions.newest %>
        <% if spec = spec_for(name, newest_gem.number, newest_gem.platform) %>
          <%= spec.description %>
          <br/>
          <span class="author">– <%= spec.authors.map do |author|
            "<a href='#{spec.homepage}'>#{author}</a>"
          end.join(', ') %></span>
        <% end %>
        </p>
      </div>

    </li>

    <div class="badge">
      <%
         badge_url = url("/gems/#{name}.svg")
         gem_url   = url("/gems/#{name}")
      %>
      <dl>
        <dt>Badge URL</dt>
        <dd><input class='click-select' type='text' value='<%= badge_url %>' readonly/></dd>
        <dt>Markdown</dt>
        <dd><input class='click-select' type='text' value='[![Gem Version](<%= badge_url %>)](<%= gem_url %>)' readonly/></dd>
        <dt>HTML</dt>
        <dd><input class='click-select' type='text' value='<a href="<%= gem_url %>"><img src="<%= badge_url %>" alt="Gem Version" height="18"></a>' readonly/></dd>
        <dt>Textile</dt>
        <dd><input class='click-select' type='text' value='!<%= badge_url %>!:<%= gem_url %>' readonly/></dd>
        <dt>RDOC</dt>
        <dd><input class='click-select' type='text' value='{<img src="<%= badge_url %>" alt="Gem Version" />}[<%= gem_url %>]' readonly/></dd>
        <dt>AsciiDoc</dt>
        <dd><input class='click-select' type='text' value='image:<%= badge_url %>["Gem Version", link="<%= gem_url %>"]' readonly/></dd>
        <dt>RST</dt>
        <dd>
          <textarea class='click-select' readonly>.. image:: <%= badge_url %>
    :target: <%= gem_url %></textarea>
        </dd>
      </dl>
    </div>
  <% end %>
</ul>
