<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-6 ml-3">
      <center>
        <small>If you did not need any credentials to get to this page</small>
        <p>
          <code>gem sources -a <%= url "/" %></code>
        </p>
        <small>If you needed some credentials to get to this page</small>
        <p>
          <code>gem sources -a <%= url.to_s.gsub('://','://username:password@') %></code>
        </p>
        <% if @allow_upload %>
          <small>and then ...</small>
          <p>
            <code>gem install geminabox<br />gem inabox [gemfile]</code>
          </p>
        <% end %>
      </center>
    </div>
  </div>
</div>

<% if @gems.any? %>
  <table id="gems" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Gem</th>
        <th>Version</th>
        <th>Author(s)</th>
        <th>Information</th>
        <th nowrap="nowrap">Install Command</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    <% @gems.by_name do |name, versions| %>
    <% newest_gem = versions.newest %>
      <tr>
        <td><%= name %></td>
        <td>
          <% if versions.count == 1 %> 
            <%= versions.first.number %>
          <% else %> 
            <%= "#{versions.oldest.number} - #{versions.newest.number}" %>
          <% end %>
        </td>
        <td>
          <% if spec = spec_for(name, newest_gem.number, newest_gem.platform) %>
            <%= spec.authors.map{|author|"<a class='badge badge-success' href='#{href(spec.homepage)}'>#{author}</a>"}.join('<br>') %>
          <% end %>
        </td>
        <td>
          <% versions.each.reverse_each.first(5).each do |version| %>
            <% if spec = spec_for(name, newest_gem.number, newest_gem.platform) %>
              <%= spec.description %>
            <% end %>
            <% unless version.platform =~ /^ruby/i %>
              <small class="platform"><%= version.platform %></small>
            <% end %>
          <% end %>
        </td>
        <td nowrap="nowrap">
          <% versions.each.reverse_each.first(5).each do |version| %>
            <code>
              gem install <%= version.name %> <%= "--prerelease" if version.number.to_s.match(/[a-z]/i) %> -v "<%= version.number %>"
            </code>
          <% end %>
        </td>
        <td>
          <% versions.each.reverse_each.first(5).each do |version| %>
            <div class="btn-group" role="group">
              <a class="btn btn-sm btn-success" href="<%= url("/gems/#{version.gemfile_name}.gem") %>">
                download
              </a>
              <% if @allow_delete %>
                <a class="btn btn-sm btn-danger rest-delete force-white" href="<%= url("/gems/#{version.gemfile_name}.gem") %>">delete</a>
              <% end %>
              <% if versions.count > 5 %>
                <a href="<%= url("/gems/#{name}") %>" class="btn btn-sm btn-primary" id="more_link">Older versions...</a>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
